.modalBox {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  top: 7%;
  width: 320px;
  max-height: 85%;
  overflow-y: auto;
  background-color: white;
  border: 2px solid #000;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.1);
  padding: 10px 15px 40px 15px;
}

.modalButtonClose {
  display: block;
  margin-left: auto;
  cursor: pointer;
}
.productSize-table{
  margin: 20px auto 10px auto;
  background-color: #ffffff;
  padding: 3px;
}
.productSize-bolt{
   font-weight: bold;
   font-size: 25px;
   
}
th, td {
 font-size: 13.5px;
  padding: 6px 20px;
  text-align: center;
  border: 1px solid #ddd;
}

@media only screen and (min-width: 1020px) {
  .modalBox {
    width: 620px;

    padding: 30px 30px 40px 30px;
  }
}
